
@{
    ViewBag.Title = "Yc Aplication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yc Application</h2>
<p><a class="btn btn-primary" href="@Url.Action("YCAction_Post","Home")">Go to Yc Function</a>    </p>

<input type="type" name="name" value="" />